<tr class="list_comments_row">
  <td>
    <%= comment.user.first_name %> <%= comment.user.last_name %>
    <div class="div_comment_image">
      <%= image_tag comment.user.image.url(:thumb)%>        
    </div>
  </td>
  <td>
    <%= comment.content %>
  </td>
</tr>
