<tr class="list_comments_row">
  <td>
      <div class="div_comment_image">
        <%= image_tag User.find(comment.user_id).image.url(:thumb)%>
    </div>
  </td>
  <td>
    <%= comment.content %>
  </td>
</tr>
