<tr class="list_comments_row">
  <td class="td_comments_side">
    <div class="div_comment_image">
      <%= User.find(comment.user_id).first_name %>
    </div>
  </td>
  <td class="list_comment_text">
    <%= comment.content %>
  </td>
</tr>
