<tr class="list_dinners_row">
  <td class="td_dinners_side">
    <div class="div_dinner_image">
      <%= User.find(comment.user_id).first_name %>
    </div>
  </td>
  <td class="list_dinner_text">
    <%= comment.content %>
  </td>
</tr>
