<div class="jumbotron">
  <STYLE type="text/css">
  	H1 { text-align: center}
  	p { text-align: justify}
  	p { text-align: center}
  </STYLE>
  <h1>Why was Suppr created?</h1>
  <p class="lead">
    To us, the word 'supper' means more than a single meal you have at night. It means communing together and honestly, why not do it any time of the day? If you want to host a meal, buy the materials and tell everyone about it. Then everyone can respond, help you share the cost, and at the same time enjoy your skill in kitchen. If you're like our programmers and cannot cook, join the community anyway to see where meals are being hosted in your area. Click RSVP and show up!<br>
    Buon appetito!<br>
    Bon appetit!<br>
    Velbekomme!<br>
    Dig in!<br>     
       
  <p>The Suppr Team</p>
  </p>
  <% if not user_signed_in? %>
  <p><%= link_to 'Sign up today', new_user_registration_path, class: "btn btn-lg btn-success" %></p>
  <% end %>
</div>

<div class="footer">
  <p>Copyright &copy; 2014</p>
  <p>v0.1.0</p>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
