<div class="jumbotron">
  <STYLE type="text/css">
  	H1 { text-align: center}
  	p { text-align: justify}
  	p { text-align: center}
  </STYLE>
  <h1>Welcome to Suppr!</h1>
  <p class="lead">
    <br>
    We love food. We love people. Our hope is to bring people together while enjoying a good meal.<br>
    Dig in!<br>
  </p>
  <p><a class="btn btn-lg btn-success" <%= link_to 'Sign Up', new_user_registration_path%> </a></p>
        </div>
<!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Link to about</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-6">
          <h4>Link to How does it work</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-6">
          <h4>Link to something else?</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
      </div>
-->
      <div class="footer">
        <p>Copyright &copy; 2014</p>
      </div>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


