

<a href=<%= dinners_path %>><div id=signup_link></div></a>


<div class="div_button">
	<%= link_to 'Sign Up', dinners_path, class:"myButton" %>
</div>

<p>Welcome to Suppr.com. We love food. We love people. Our hope was to bring people together while enjoying a good meal.</p>

<p>To us, the word 'supper' means more than a single meal you have at night. It means communing together and honestly, why not do it any time of the day? If you want to host a meal, buy the materials and tell everyone about it. Then everyone can respond, help you share the cost, and at the same time enjoy your skill in kitchen. If you're like our programmers and cannot cook, join the community anyway to see where meals are being hosted in your area. Just click RSVP and show up!</p>

Buon appetito!<br>
Bon appetit!<br>
Dig in!<br>

<p>The Suppr Team</p>