  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require_tree .
 */


body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.app.container {
       width: 80em;
}

.notice {
    font-family: Verdana, Geneva, sans-serif;
}

//Login Link
#div_login{
  float:right;
  padding-right: 20px;
  //padding-top:px;
}

#div_footer
{
  text-align:center;
}

a{
  text-decoration:none;
}


.myButton {

  float:right;

  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
  background-color:#79bbff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
  background-color: transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}

//Header
#site_name
{
  height: 300px;
  padding-left:2%;
  background-image: url('http://www.niceplacesonearth.com/wp-content/uploads/2014/07/mega-bounty-shot.jpg');
  background-size:100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:800%;
  color: white;

  a:hover{
    background-color: transparent;
    text-decoration: none;
  }
}

.form-control.small_first_name {
   width: 41%;
   float: left;
   margin-right: 3%;
   margin-bottom: 2%;
}

.form-control.small_last_name {
   width: 41%;
   overflow: hidden;
   margin-bottom: 2%;
}

.form-control.small_box {
   width:85%;
   overflow: hidden;
   margin-bottom: 2%;
}

.auth-div {
    overflow: hidden;
    width: 50%;
    height: 50%;
    float: left
}

.auth-pic {
    overflow: hidden;
    height: 50%;
    width: 50%;
    background-image: image-path("dinner.jpg");

}

.devise-links {
     clear: both;
     padding-top: 3%;
}
