// Place all the styles related to the dinners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dinners
{

	//image in Show page
	.image_full
	{
		width:50%;
	}

  #list_dinners 
  {
     width: 100%;
  } 

  .td_side 
  {
  width: 20em;
  }
	//A single dinner row
	.list_row
	{

		background-color: #EFEFEF;	//http://www.w3schools.com/cssref/css_colors.asp
		height:160px;
    width: 1024px;
		margin:10px;
		border-bottom: 0.5em solid white;
    		
		//Dinner Image
		.div_image 
		{
      margin-top:0.1em; 
      margin-left:4em; 

			height: 12em;
			width: 12em;
			background-color: gray;
			img 
			{
				height:100%;
				width: 100%;	//100% of the div
				overflow:hidden;
			}
		}

		//Dinner Text
		.list_text
		{
			background-color: #e8e8e8;
			//float:left;
			height:100%;
			padding-left:100px;
		}

		.div_join
		{
			height: 3.8em;
			width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em; 
      margin-left: 4em; 
		}

		.div_more
		{
			height: 3.8em;
			width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em; 
      margin-left: 4em; 
		}

		.div_delete
		{
			height: 3.8em;
			width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em; 
      margin-left: 4em; 
		}


		//RSVP button
		#host_suppr
		{

    	margin-left: auto;
    	margin-right: auto;
    	//float:right;
     	padding-right: 20px;
			text-align:center;
		}

		//Cause a link to fill the entire div it's contained in
		a.fill-div {
		    display: block;
		    height: 100%;
		    width: 100%;
		    text-decoration: none;
		    color:white;
		}
	}
}