// Place all the styles related to the dinners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dinners
{

  .image_full
  {
    width:50%;
  }

  #list_dinners
  {
     width: 100%;
  }

  .td_side
  {
  width: 20em;
  }

  .index-container
  {
        width: 100%;
  }

  .list_dinners_row
  {

    background-color: #EFEFEF;	//http://www.w3schools.com/cssref/css_colors.asp
    height:160px;
    width: 1024px;
    margin:10px;
    border-bottom: 0.5em solid white;

    //Dinner Image
    .div_dinner_image
    {
      margin-top:0.1em;
      margin-left:4em;

      height: 11em;
      width: 12em;
      background-color: gray;
      img
      {
        height:100%;
        width: 100%;	//100% of the div
        overflow:hidden;
      }
    }

    //Dinner Text
    .list_dinner_text
    {
      background-color: #e8e8e8;
      height:100%;
      padding-left:100px;
    }

    .div_join
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 5em;
    }

    .div_more
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 5em;
    }

    .div_delete
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 5em;
    }

  }

 .host_suppr
  {
    height: 3.8em;
    width: 11.4em;
    margin-left: 80%;
    text-align:center;
  }

  .dinner-div {
    overflow: hidden;
    width: 50%;
    height: 50%;
    float: left;
  }

  .dinner-pic {
    overflow: hidden;
    height: 50%;
    width: 50%;
  }

  .form-control.seats {
     width: 20%;
     float: left;
     margin-right: 3%;
     margin-bottom: 2%;
  }

  .form-control.currency {
     width: 7%;
     float: left;
     margin-right: 3%;
     margin-bottom: 2%;
  }

  .form-control.price {
     width: 20%;
     overflow: hidden;
     margin-bottom: 2%;
  }

  .form-control.desc {
     width: 85%;
     overflow: hidden;
     margin-bottom: 2%;
  }

  .div-seats {
     width: 20%;
     margin-right: 3%;
     margin-bottom: 2%;
  }

  .dinner-pic {
    overflow: hidden;
    height: 50%;
    width: 50%;
  }

  .div-comments-form {
    padding-top: 10%;
  }

  .div-comments {
    padding-top: 5%;
  }

  .gmaps {
     width: 100%;
     height: 29em;
  }

}