// Place all the styles related to the dinners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dinners
{

  .image_full
  {
    width:50%;
  }

  #list_dinners
  {
     width: 100%;
  }

  .td_side
  {
  width: 20em;
  }

  .index-container
  {
        width: 100%;
  }

  .list_dinners_row
  {

    background-color: #EFEFEF;	//http://www.w3schools.com/cssref/css_colors.asp
    height:160px;
    width: 1024px;
    margin:10px;
    border-bottom: 0.5em solid white;

    //Dinner Image
    .div_dinner_image
    {
      margin-top:0.1em;
      margin-left:4em;

      height: 12em;
      width: 12em;
      background-color: gray;
      img
      {
        height:100%;
        width: 100%;	//100% of the div
        overflow:hidden;
      }
    }

    //Dinner Text
    .list_dinner_text
    {
      background-color: #e8e8e8;
      height:100%;
      padding-left:100px;
    }

    .div_join
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 4em;
    }

    .div_more
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 4em;
    }

    .div_delete
    {
      height: 3.8em;
      width: 11.4em;
      border: 2px solid #efefef;
      margin-top:0.1em;
      margin-left: 4em;
    }

  }
    .host_suppr
    {
      height: 3.8em;
      width: 11.4em;
      margin-left: 81%;
      text-align:center;
    }

}