<div class="host_suppr">
    <%= link_to '<button type="button" class="btn btn-primary btn-lg">Host a Suppr</button>'.html_safe, new_dinner_path %>
  </div>
<form>
  <input type="text" placeholder="Search for Suppr.." required>
  <input type="button" value="Search">
</form>

<h1>Listing Supprs</h1>
<p>Reported times are intended to be local times</p>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<table id="list_dinners">
  <tbody class="page">
    <%= render @dinners %>
  </tbody>
</table>

<%= paginate @dinners %>
