
<div class="index-container">
  <h1>Upcoming Supprs</h1>
  <p>Times are local to the event.</p>
  
  <div class="host_suppr">
    <%= link_to '<button type="button" class="btn btn-success">Host a Suppr</button>'.html_safe, new_dinner_path %>
  </div>
  <table id="list_dinners">
    <tbody class="page">
      <%= render @dinners %>
    </tbody>
  </table>

  <%= paginate @dinners %>
</div>
