<!DOCTYPE html>
<html>
<head>
  <title>Suppr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href='/'>Home</a>
<a href='/event/list'>Upcoming Dinners (users)</a>

<a href='/dinners'>Dinners (admin)</a>
<a href='/home/contact'>Contact</a>
<a href='/home/about'>About</a>
<a href='/home/login'>Login</a>

<%= yield %>

</body>
</html>
